.container {
  max-width: 80rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.bg-cloud {
  background-color: rgba(140, 140, 140, 0.1);
}


.is-disabled {
    cursor: not-allowed;
    box-shadow: none;
    filter: grayscale(1) brightness(0.85);
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.flex-col {
    display: flex;
}

.flex-row {
    display: flex;
}