@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Source Sans Pro", "TF-Regular", Arial, sans-serif;
    font-kerning: normal;
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-feature-settings: "kern" 1, "liga" 0;
    font-feature-settings: "kern" 1, "liga" 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #f3f2f6;

    &.error-404 {
        background-color: black;
        color: #FFF;
    }
}

p {
    font-size: 1.125rem;
    line-height: 160%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

    &:not(:first-of-type) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &:first-of-type {
        margin-bottom: 1rem;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    border: 0;
    outline: 0;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-family: "Urbanist", serif;
    font-optical-sizing: auto;
    font-size: 4rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    letter-spacing: -2px;
    margin-bottom: 1rem;
}
h2 {
    font-family: "Urbanist", serif;
    font-optical-sizing: auto;
    font-size: 1.6rem;
    font-weight: 700;
}

h3 {
    font-size: 1.4rem;
}